.main{
-webkit-box-shadow: 6px 7px 82px -4px rgba(71,211,230,1);
-moz-box-shadow: 6px 7px 82px -4px rgba(71,211,230,1);
box-shadow: 6px 7px 82px -4px rgba(71,211,230,1);
width: 340px;
padding-left:40px;
margin-left: 20px;
border: 3px solid silver;
border-radius: 5px;
margin-top: 20px;
}
.InterestingFact{
    font-style: italic;
}
.Item{
    font-weight: bold;
    list-style-type:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.information{
border: 2px solid silver;
border-radius: 5px;
width: 300px;
margin-top: 10px;
margin-bottom: 20px;
background-color: rgb(204, 224, 255);
margin-left: 3px;

}
.img{
    padding-left: 5px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
